<section
class="bg-white p-4 shadow-lg font-mono lg:py-4 lg:px-20 xl:py-4 xl:px-60"
>
  <h2 class="text-5xl font-bold text-center my-24">Sobre mí</h2>
  <div class="lg:flex flex-row">
    <div class="lg:w-2/5">
      <ul class="list-none flex flex-col gap-4 mx-auto">
        <li *ngFor="let item of items" class="flex gap-4 justify-start">
          <span class="text-xl font-extrabold w-2/5">{{ item.categoria }}:</span>
          <span class="text-lg font-normal text-black w-3/5 text-left text-wrap">
            <ng-container *ngIf="item.link; else plainText">
              <a [href]="item.link">{{ item.valor }}</a>
            </ng-container>
            <ng-template #plainText>{{ item.valor }}</ng-template>
          </span>
        </li>
      </ul>
    </div>

    <div class="mx-auto bg-[#f5f5f5] lg:ml-16">
      <h2
      class="text-3xl font-bold mt-20 mb-4 pt-5 text-black lg:m-0 text-left"
      >
        ¡Hola!
      </h2>
      <p class="mt-4">
        Soy Nefer, ingeniero de sistemas apasionado por la tecnología y el
        desarrollo de software. Me motiva crear soluciones innovadoras que
        mejoren la eficiencia de los procesos, y me destaco por ser proactivo,
        adaptable y con gran capacidad de aprendizaje. Disfruto trabajar en
        equipo, pero también me desenvuelvo muy bien de forma independiente. Me
        apasiona aprender constantemente y asumir nuevos desafíos que me
        permitan demostrar y fortalecer mis habilidades para construir
        soluciones cada vez más efectivas.
      </p>
      <div class="flex gap-4 mt-8">
        <app-icono
          link="https://github.com/neferMR"
          icono="icon-github text-2xl text-black cursor-pointer p-2 bg-[#4d4d4d] text-white"
        ></app-icono>
        <app-icono
          link="https://www.linkedin.com/in/nefer-medina/"
          icono="icon-linkedin2 text-2xl text-black cursor-pointer p-2 bg-[#4d4d4d] text-white"
        ></app-icono>
      </div>
    </div>
  </div>
</section>
