<header class="bg-[#274059] flex flex-col items-center justify-center h-screen text-white">
  <img src="/assets/IMG_5241.jpg" alt="Foto de perfil" class="w-52 h-52 rounded-full object-cover"/>
  <h1 class="text-4xl font-normal my-4 -rotate-12">Nefer Medina</h1>
  <h3 class="font-normal mt-4 text-sm">Ingeniero de Sistemas / Desarrollador</h3>
  <div class="flex gap-6 mt-4 text-3xl">
    <app-icono link="https://github.com/neferMR" icono="icon-github"></app-icono>
    <app-icono link="https://www.linkedin.com/in/nefer-medina/" icono="icon-linkedin2"></app-icono>
  </div>
</header> 